<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"	content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<title>聚富游戏</title>
<meta name="keywords" content="聚富游戏系统">
<meta name="description" content="聚富游戏系统">
<!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
<script>
</script>

</head>

<body>
	<div th:text="${msg}"></div>
	<!-- 全局js -->
	<script src="/js/jquery.min.js?v=2.2.4"></script>
	<script src="/js/bootstrap/bootstrap.min.js?v=3.3.6"></script>
	<script type="text/javascript">
		$().ready(function() {

		});
	</script>
</body>
</html>
